#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "clearAll clearAll clear divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero decimal result add";
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#decimal {
  grid-area: decimal;
}

#clear {
  grid-area: clear;
}

#clearAll {
  grid-area: clearAll;
}

#result {
  grid-area: result;
}
